@model MobileSaatasaat.Models.Post

@{
     /**/
     ViewBag.Title = "Edit";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "Posts", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container">
        <h1 class="mt-5">Edit Post</h1>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.PostId)

        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        @*Image*@

        <div class="form-group col-sm-12 ">
            @if (Model.Image != null && Model.Image != "")
            {
                <div class="col-sm-2">
                    @Html.Label("Image", new { @class = "control-label" })
                </div>

                <div class="col-sm-3">
                    <input type="hidden" name="OldImage" value="@Model.Image" />
                    <a href="~/images/post/@Model.Image" target="_blank"><img src="~/images/post/@Model.Image" height="250" width="250" /></a>
                </div>

                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    @Html.Label("Edit Image", new { @class = "control-label" })
                </div>

                <div class="col-sm-3">
                    @Html.TextBoxFor(model => model.Image, new { @class = "form-control", @type = "file" })
                </div>
            }
            else
            {
                <div class="form-group col-sm-3">
                    @Html.Label("Image", new { @class = "control-label" })
                    <div class="">
                        @Html.TextBoxFor(model => model.Image, new { @class = "form-control", @type = "file" })
                        @Html.ValidationMessageFor(model => model.Image, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        </div>

        @*ImageOFBox*@

        <div class="form-group col-sm-12 ">
            @if (Model.ImageOfBox != null && Model.ImageOfBox != "")
            {
                <div class="col-sm-2">
                    @Html.Label("Image of Box", new { @class = "control-label" })
                </div>

                <div class="col-sm-3">
                    <input type="hidden" name="OldImageOfBox" value="@Model.ImageOfBox" />
                    <a href="~/images/box/@Model.ImageOfBox" target="_blank"><img src="~/images/box/@Model.ImageOfBox" height="170" width="250" /></a>
                </div>

                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    @Html.Label("Edit Image of Box", new { @class = "control-label" })
                </div>

                <div class="col-sm-3">
                    @Html.TextBoxFor(model => model.ImageOfBox, new { @class = "form-control", @type = "file" })
                </div>
            }
            else
            {
                <div class="form-group col-sm-3">
                    @Html.Label("Image of Box", new { @class = "control-label" })
                    <div class="">
                        @Html.TextBoxFor(model => model.ImageOfBox, new { @class = "form-control", @type = "file" })
                        @Html.ValidationMessageFor(model => model.ImageOfBox, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        </div>

        @*Image Of Mobile*@

        <div class="form-group col-sm-12 ">
            @if (Model.ImageOfMobile != null && Model.ImageOfMobile != "")
            {
                <div class="col-sm-2">
                    @Html.Label("Image of Mobile", new { @class = "control-label" })
                </div>

                <div class="col-sm-3">
                    <input type="hidden" name="OldImageOfMobile" value="@Model.ImageOfMobile" />
                    <a href="~/images/mobile/@Model.ImageOfMobile" target="_blank"><img src="~/images/mobile/@Model.ImageOfMobile" height="170" width="250" /></a>
                </div>

                <div class="col-sm-1"></div>
                <div class="col-sm-2">
                    @Html.Label("Edit Image of Mobile", new { @class = "control-label" })
                </div>

                <div class="col-sm-3">
                    @Html.TextBoxFor(model => model.ImageOfMobile, new { @class = "form-control", @type = "file" })
                </div>
            }
            else
            {
                <div class="form-group col-sm-3">
                    @Html.Label("Image of Mobile", new { @class = "control-label" })
                    <div class="">
                        @Html.TextBoxFor(model => model.ImageOfMobile, new { @class = "form-control", @type = "file" })
                        @Html.ValidationMessageFor(model => model.ImageOfMobile, "", new { @class = "text-danger" })
                    </div>
                </div>
            }
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}
