@model IEnumerable<MobileSaatasaat.Models.Post>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content">
     <div class="container">
        <div class="box-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.Description.Substring(0,15) ....</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.PostId }, new { @class = "fa fa-pencil text-success" }) |
                                <a href="@Url.Action("Details", "PostsDetail", new { id = item.PostId })">Details</a> |
                                <a href="@Url.Action("Delete", "Posts", new { id = item.PostId})" onclick='return ConfirmDelete();'><span class="fa fa-trash text-danger"></span></a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<script>
	function ConfirmDelete()
	{
		return confirm('Are you sure you want to delete this?');
	}
</script>


